<!DOCTYPE html>
<html>
  <head>
    <title>SkillfulSquare</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('favicon.png') %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body class="text-white bg-gray-700">
    <% if current_user %>
      <div class="flex h-screen lg:gap-4" data-controller="navbar">
        <%= render "layouts/sidenav" %>
        <main data-navbar-target="content" class="w-full flex-1 ml-[16.5rem]">
          <%= yield %>
        </main>
      </div>
    <% else %>
      <%= yield %>
    <% end %>
    <div id="flash" class="flash">
      <%= render 'layouts/flash'%>
    </div>
  </body>
</html>
